a {
opacity: .99;
    background-image: url(../images/card.png);
    background-repeat: no-repeat;
    height: 130px;
    width: 91px;
    display: inline-block;
    margin-right: 10px;
  }

  /*
2 – two – second (два – второй);
3 – three – third (три – третий);
4 – four – fourth (четыре – четвертый);
5 – five – fifth (пять – пятый);
6 – six – sixth (шесть – шестой);
7 – seven – seventh (семь – седьмой);
8 – eight – eighth (восемь – восьмой);
9 – nine – ninth (девять – девятый);
10 – ten – tenth (десять – десятый);
валет - jack
королева - queen
король - king
туз - ace
*/
  a.spades.two { background-position: left top; }
  a.spades.three { background-position: -95px top; }
  a.spades.four { background-position: -182px top; }
  a.spades.five { background-position: -272px top; }
  a.spades.six { background-position: -362px top; }
  a.spades.seven { background-position: -450px top; }
  a.spades.eight { background-position: -539px top; }
  a.spades.nine { background-position: -628px top; }
  a.spades.ten { background-position: -718px top; }
  a.spades.jack { background-position: -809px top; }
  a.spades.queen { background-position: -898px top; }
  a.spades.king { background-position: -989px top; }
  a.spades.ace { background-position: -1082px top; }

  a.heart.two { background-position: left -126px; }
  a.heart.three { background-position: -95px -126px; }
  a.heart.four { background-position: -182px -126px; }
  a.heart.five { background-position: -272px -126px; }
  a.heart.six { background-position: -362px -126px; }
  a.heart.seven { background-position: -450px -126px; }
  a.heart.eight { background-position: -539px -126px; }
  a.heart.nine { background-position: -628px -126px; }
  a.heart.ten { background-position: -718px -126px; }
  a.heart.jack { background-position: -809px -126px; }
  a.heart.queen { background-position: -898px -126px; }
  a.heart.king { background-position: -989px -126px; }
  a.heart.ace { background-position: -1082px -126px; }
  
  a.clubs.two { background-position: left -249px; }
  a.clubs.three { background-position: -95px -249px; }
  a.clubs.four { background-position: -182px -249px; }
  a.clubs.five { background-position: -272px -249px; }
  a.clubs.six { background-position: -362px -249px; }
  a.clubs.seven { background-position: -450px -249px; }
  a.clubs.eight { background-position: -539px -249px; }
  a.clubs.nine { background-position: -628px -249px; }
  a.clubs.ten { background-position: -718px -249px; }
  a.clubs.jack { background-position: -809px -249px; }
  a.clubs.queen { background-position: -898px -249px; }
  a.clubs.king { background-position: -989px -249px; }
  a.clubs.ace { background-position: -1082px -249px; }

  a.diamonds.two { background-position: left -373px; }
  a.diamonds.three { background-position: -95px -373px; }
  a.diamonds.four { background-position: -182px -373px; }
  a.diamonds.five { background-position: -272px -373px; }
  a.diamonds.six { background-position: -362px -373px; }
  a.diamonds.seven { background-position: -450px -373px; }
  a.diamonds.eight { background-position: -539px -373px; }
  a.diamonds.nine { background-position: -628px -373px; }
  a.diamonds.ten { background-position: -718px -373px; }
  a.diamonds.jack { background-position: -809px -373px; }
  a.diamonds.queen { background-position: -898px -373px; }
  a.diamonds.king { background-position: -989px -373px; }
  a.diamonds.ace { background-position: -1082px -373px; }



.forehead {
opacity: .99;
               position: absolute;
               width: 91px;
               	height: 130px;

               margin: 4px;
               display: inline-block;
   margin-right: 10%;
    margin-top:20%;
  box-shadow: inset 0 0 0 1px rgba(0,0,0,0.08);

}
.sonic {
opacity: .99;
  position: absolute;
 width: 91px;
 	height: 130px;


  margin: 4px;
  display: inline-block;

  margin-right: 10%;
   margin-top:20%;
  box-shadow: inset 0 0 0 1px rgba(0,0,0,0.08);
}